body {
    font-family: Roboto, sans-serif;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 6px 28px;
    font-size: 16px;
    border-radius: 6px;
    margin-top: 16px
}

.hero-button{
    margin-top: 16px
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    background-color: #1F2937;
}

.title {
    color: white;
    font-weight: 700;
    font-size: 24px
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0
}

a {
    text-decoration: none;
    color: #E5E7EB
}

.hero {
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    gap: 64px
}

.hero-title {
    color: white;
    font-weight: 700;
    font-size: 48px
}
.hero-subtext {
    font-size: 18px; 
    color: #E5E7EB
}

.random-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 64px;
}

.info-title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 16px;
    color: #1F2937
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 32px
}

.info {
    width: 200px;
    text-align: center;
    justify-items: center;
    align-items: center;
    color: #7f7f7f;
    text-wrap: wrap;
    font-size: 22px
}

.testimonial {
    padding: 64px 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937
}

.source {
    text-align: right;
    font-size: 24px;
    font-weight: 700
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center
}

.signup-container {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 48px 100px;
    margin: 72px 200px;
    color: #e3e3e3
}

.signup-title {
    color: white;
    font-size: 24px;
    font-weight: 700;
}

.signup-button {
    border: 2px solid white;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    background-color: #343434;
    color: #e3e3e3
}